@font-face {
  font-family: "Kamino-Top";
  src: url("../public/fonts/Kamino DCU/Kamino-Top.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Kamino-Bottom";
  src: url("../public/fonts/Kamino DCU/Kamino-Bottom.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Kamino-VF";
  src: url("../public/fonts/Kamino DCU/Kamino-VF.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Crucial-Medium";
  src: url("../public/fonts/Kamino DCU/Crucial-Medium.otf");
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  height: 100%;
  width: 100%;
  cursor: url(https://raw.githubusercontent.com/Lisiman/lisiman.github.io/6fa20ed1e50c83a346663ac6a59f3dbfd9301b31/resources/ZEN-Cursor4.svg),
    auto !important;
}

* {
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.toDoList {
  font-size: 1.3rem;
  list-style-type: none;
  font-family: "Lato", sans-serif;
}

.list-group {
  width: 80%;
}

.toDoInput {
  width: 80%;
  padding: 6px;
}

.toDoForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.complete {
  text-decoration: line-through;
}

.centre {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.fullPage {
  background-color: #ffffff;
  min-width: -webkit-fill-available;
  /* height: calc(100% - 60px); */

}

.header {
  width: 100%;
}

.globalButton {
  background-color: #3fa2dd;
  border-color: #3fa2dd;
  width: 180px;
  height: 100px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  font-size: 1.8em;
}

.globalButton:active:focus {
  border-color: #262b29;
  background-color: #262b29;
  box-shadow: none !important;
  outline: none !important;
}

.globalButton:hover {
  border-color: #262b29;
  background-color: #262b29;
  box-shadow: none !important;
  outline: none !important;
}

.globalButton.active {
  border-color: #262b29 !important;
  background-color: #262b29 !important;
  box-shadow: none !important;
  outline: none !important;
}

.globalButton:focus {
  border-color: #262b29 !important;
  background-color: #262b29 !important;
  box-shadow: none !important;
  outline: none !important;
}

.globalButtonSml {
  background-color: #3fa2dd;
  border-color: #3fa2dd;
  width: 180px;
  font-size: 20px;
  margin: 5px;
  box-shadow: none !important;
  outline: none !important;
}

.globalButtonSml:active:focus {
  border-color: #262b29;
  background-color: #262b29;
  box-shadow: none !important;
  outline: none !important;
}

.globalButtonSml:hover {
  border-color: #262b29;
  background-color: #262b29;
  box-shadow: none !important;
  outline: none !important;
}

.globalButtonSml.active {
  border-color: #262b29 !important;
  background-color: #262b29 !important;
  box-shadow: none !important;
  outline: none !important;
}

.globalButtonSml:focus {
  border-color: #262b29 !important;
  background-color: #262b29 !important;
  box-shadow: none !important;
  outline: none !important;
}

.globalButtonTiny {
  background-color: "pink";
  border-color: "pink";
  width: 100%;
  font-size: 14px;
  padding: 0;

  height: 30px;
  box-shadow: none !important;
  outline: none !important;
}

.globalButtonTiny:active:focus {
  border-color: #262b29;
  background-color: #262b29;
  box-shadow: none !important;
  outline: none !important;
}

.globalButtonTiny:hover {
  border-color: #262b29;
  background-color: #262b29;
  box-shadow: none !important;
  outline: none !important;
}

.globalButtonTiny.active {
  border-color: #262b29 !important;
  background-color: #262b29 !important;
  box-shadow: none !important;
  outline: none !important;
}

.globalButtonTiny:focus {
  border-color: #262b29 !important;
  background-color: #262b29 !important;
  box-shadow: none !important;
  outline: none !important;
}

.grow {
  transition: all 1.5s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
}